.project {
  height: 100%;
  width: 100%;
  padding: 1rem 3rem;
  overflow-y: scroll;

  h2 {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: relative;
    width: max-content;
    
    &::before {
      content: '';
      height: 2rem;
      background-color: rgba(8, 8, 8, .1);
      width: 0%;
      transition: .2s ease-out;
      position: absolute;
      bottom: 1rem;
      left: -1rem;
      transform: rotate(180deg);
      z-index: -1;
      width: 90%;
    }
  }

  h3 {
    display: inline-flex;
    font-size: 1.7rem;
    align-items: center;
    position: relative;
    top: -1.25rem;
    left: 3rem;
    box-sizing: border-box;
  }

  h4 {
    font-size: 1.3rem;
    font-weight: 100;
    position: relative;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 2rem;

    &:not(:first-of-type) {
      border-top: 1px solid lightgray;
    }

    &::before {
      content: '';
      height: .7rem;
      background-color: rgba(8, 8, 8, .1);
      width: 0%;
      transition: .2s ease-out;
      position: absolute;
      bottom: .25rem;
      left: .5rem;
      transform: rotate(180deg);
      z-index: -1;
      width: 6%;
    }
  }

  .pic-grid {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
    gap: .25rem;
    box-sizing: border-box;

    .mockup {
      border: 1px solid lightgray;
    }
  }
}