@font-face {
  font-family: "Archia";
  src: url("/fonts/archia-regular-webfont.woff") format("woff");
}

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 200;
  font-family: Archia !important;
}

body {
  height: 100vh;
  line-height: 1.6;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
}

a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;

  &:visited {
    color: black;
  }
}

.project {
  height: 100%;
  width: 100%;
  padding: 1rem 3rem;
  overflow-y: scroll;

  h2 {
    font-size: 3.5rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .15rem;
    position: relative;
    line-height: 3.5rem;
    width: max-content;
  }

  h3 {
    display: inline-flex;
    font-size: 2rem;
    align-items: center;
    position: relative;
    left: 3rem;
    box-sizing: border-box;
    margin-right: 2rem;
    line-height: 2rem;

    &::before {
      content: '>';
      position: absolute;
      top: 0;
      left: -1.5rem;
    }
  }

  h4 {
    font-size: 1.7rem;
    font-weight: 100;
    position: relative;
    padding-top: 1rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1.5rem;
  }

  .pic-grid {
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    gap: .25rem;
    box-sizing: border-box;

    .mockup {
      border: 1px solid lightgray;
    }
  }
}